App_Data
App_Plugins/ModelsBuilder
App_Plugins/OsmMaps
App_Plugins/StarterKit
App_Start
config
Umbraco
Media
obj
packages
*.nupkg
*.csproj
*.sln
Views
*.config
Properties
Scripts
css
Global.*
bin
.vs
compilerconfig.*