.csvimport .mb-0 {
  margin-bottom: 0; }

.csvimport .m-0 {
  margin: 0; }

.csvimport .mb-1 {
  margin-bottom: 1rem; }

.csvimport .mt-1 {
  margin-top: 1rem; }

.csvimport .pb-2 {
  padding-bottom: 2rem; }

.csvimport .my-1 {
  margin: 1rem 0; }

.csvimport .mb-2 {
  margin-bottom: 2rem; }

.csvimport .mr-1 {
  margin-right: 1rem; }

.csvimport h3 {
  font-weight: bold; }

.csvimport h3, .csvimport h4 {
  margin: 0; }

.csvimport .step-label {
  margin-bottom: 1rem; }

.csvimport small {
  display: block;
  color: gray; }

.csvimport .logs {
  color: #ff9412; }

.csvimport .variant-tab a {
  color: lightgray; }

.csvimport .variant-tab--active a {
  color: #000; }

.csvimport .prop-label {
  width: 250px;
  margin-right: 1rem; }

.csvimport .prop-value {
  width: 100%; }
  .csvimport .prop-value select {
    width: 100%; }

.csvimport .fields-container {
  width: 600px;
  max-width: 100%; }
