
<div ng-controller="CsvImportController as vm" class="csvimport">
    <umb-box>
        <umb-box-header title="CSV Import" description="Import CSV file to Umbraco nodes."></umb-box-header>
        <umb-box-content>

            <div ng-show="vm.window.steps[0]">
                <div class="step-label">
                    <h5>Step 1 of 4:</h5>
                    <h4>Upload CSV File</h4>
                </div>
                
                <input type="file" accept="'.csv'" id="csvImportFile"/><br/>
                <umb-button type="button"
                            label="Next"
                            button-style="action"
                            action="vm.upload()"></umb-button>
            </div>

            <div ng-show="vm.window.steps[1]">
                <div class="step-label">
                    <h5>Step 2 of 4:</h5>
                    <h4>Select Parent Node</h4>
                </div>
                <umb-button type="button"
                            label="Back"
                            button-style="default"
                            action="vm.isCsvReady = false;vm.window.prev();"></umb-button>

                <umb-button type="button"
                            label="Browse"
                            button-style="action"
                            action="vm.selectParentNode();">
                </umb-button>
            </div>

            <div ng-show="vm.window.steps[2]">
                <div ng-if="vm.contentTypes.length">
                    <div class="step-label">
                        <h5>Step 3 of 4:</h5>
                        <h4>Select Content Type</h4>
                    </div>
                    <select style="margin-bottom:0;"
                            ng-model="vm.selectedContentType"
                            ng-options="contentType as contentType.name for contentType in vm.contentTypes"
                            no-dirty-check>
                    </select>

                    <umb-button type="button"
                                label="Back"
                                button-style="default"
                                action="vm.window.prev();"></umb-button>

                    <umb-button type="button"
                                label="Submit"
                                button-style="action"
                                disabled="vm.processingContentType"
                                action="vm.processingContentType = true;vm.processContentType()">
                    </umb-button>
                </div>
                <p ng-if="!vm.contentTypes.length">
                    No allowed types detected for selected node.
                </p>

            </div>

            <div ng-show="vm.window.steps[3] && vm.isCsvReady">
                <div class="step-label">
                    <h5>Step 4 of 4:</h5>
                    <h4>Map Fields</h4>
                </div>
                <p>
                    The import saves the data directly to database so only properties that accept plain values such as 'Textbox and Textarea' are enabled by default.
                </p>
                <p>Unless you know what you're doing then you can enable them all.</p>
                
                <umb-toggle checked="vm.enableAllProps"
                            on-click="vm.enableAllProps = !vm.enableAllProps"
                            show-labels="true"
                            label-on="Enable all"
                            label-off="Enable all">
                </umb-toggle>
                <ng-form name="vm.importForm" novalidate>
                    <div ng-repeat="(variantKey, variant) in vm.editableVariants" class="panel-variant">
                        <h3 class="mb-1"><strong>{{ variant.language.name }}</strong></h3>
                        <div class="flex">
                            <div class="w-25">
                                <span>Page name: * </span>
                            </div>
                            <div class="w-25" style="margin-bottom:10px;">
                                <select ng-model="variant.csvHeader"
                                        ng-options="header for header in vm.csvHeaders"
                                        name="{{'name_' + variantKey}}"
                                        style="margin-bottom:2px;"
                                        no-dirty-check
                                        required>
                                </select>
                                <span ng-if="vm.importForm.$submitted && vm.importForm['name_' + variantKey].$invalid">This field is required.</span>
                            </div>
                        </div>

                        <div ng-repeat="(tabKey, tab) in variant.tabs">
                            <h4 style="margin-bottom:20px;"><strong>{{ tab.label }}</strong></h4>
                            <div ng-repeat="(propKey, prop) in tab.properties" class="flex">
                                <div class="w-25 mb-1">
                                    <span>{{ prop.label }} <span ng-if="prop.validation.mandatory">*</span> </span>
                                    <small class="prop-editor" ng-bind="prop.editor"></small>
                                </div>
                                <div class="w-25" style="margin-bottom:10px;">
                                    <select ng-model="prop.csvHeader"
                                            ng-options="header for header in vm.csvHeaders"
                                            ng-required="prop.validation.mandatory"
                                            name="{{ 'field_' + variantKey + '_' + tabKey + '_' + propKey  }}"
                                            style="margin-bottom:2px;"
                                            no-dirty-check
                                            ng-disabled="vm.checkProperty(prop)">
                                    </select>

                                    <span ng-if="vm.importForm.$submitted && vm.importForm['field_' + variantKey + '_' + tabKey + '_' + propKey].$invalid">This field is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <umb-button type="button"
                                label="Back"
                                button-style="default"
                                action="vm.processingContentType = false;vm.window.prev();"></umb-button>

                    <button type="submit" ng-click="vm.submit()" ng-disabled="vm.processing" class="btn btn-action">
                        {{ vm.processing ? 'Processing...' : 'Submit' }}
                    </button>

                    <p class="my-1" ng-if="vm.processing">{{ 'Processing ' + vm.currentItem + ' out of ' + vm.totalCsvRows + ' records...' }}</p>

                    <ul class="logs">
                        <li ng-repeat="log in vm.logs track by $index">{{ log }}</li>
                    </ul>
                </ng-form>
            </div>

            <div ng-show="vm.window.steps[4]">
                <div ng-if="vm.logs.length">
                    <h4 class="mb-1">Completed with warnings.</h4>
                    <ul class="logs">
                        <li ng-repeat="log in vm.logs track by $index">{{ log }}</li>
                    </ul>
                </div>
                <div ng-if="!vm.logs.length">
                    <h4>Completed!</h4>
                </div>
            </div>
            
        </umb-box-content>
    </umb-box>
</div>